DATABASE_URL=postgres://wowgo:wowgo@localhost:5432/wowgodb
GENERATE_ADDRESSES=1000
ETHEREUM_PROVIDER=https://mainnet.infura.io/v3/7c7093b1659f4c0d82dedbfd29736ce6
MNEMONIC=crack giraffe gadget suspect lab enter switch nominee clump symbol hurt end
MINING_FEE=100
BIT_TO_ETH_RATIO=1e6