
{{##def.page_title = 'WoWgo Ethereum Game' #}}

{{##def.content:

    <div class="index">


        <div class="grid">
            <div class="col-1-1">
                <!-- <br><br>
                <h1 class="title">{{=it.what}}</h1> -->
                <h1 class="title">WoWgo Ethereum Game</h1>
            </div>

            <div class="play-btn-col col-1-1">
                <div class="play-btn-cont">
                    {{?it.user}}
                    <a href="/play" class="play">
                        Play
                    </a>  
                    {{??}}
                    <a href="#login" class="play">
                        Play
                    </a>  
                    {{?}}                 
                </div>
                <div class="bg-overlay" id="login">
                <div class="subscribe-optin">
                    <div class="login-form">
                        <form action="/login" method="post" onsubmit="return submitEnabled;">
                            <div class="row">
                                <div class="large-12 columns">
                                    <label>Username
                                        <input type="text" name="username" required/>
                                    </label>
                                </div>
                            </div>
                             <div class="row">
                                <div class="large-12 columns">
                                    <label>Password
                                        <input type="password" name="password" required />
                                    </label>
                                </div>
                             </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <label>
                                        Remember me
                                        <input type="checkbox" name="remember">
                                    </label>
                                </div>
                            </div>                              
                             <!--<div class="row">
                                <div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="enableSubmit"></div>
                             </div>-->
                             <div class="row">
                                <div class="large-12 columns">
                                    <input id="loginSubmit"  class="border-button right blue" value="Login" type="submit" />
                                </div>

                            </div>

                        </form>
                    </div>
                    <a href="#" class="optin-close">&times;</a>
                </div>
            </div><!-- login popup -->
            <div class="bg-overlay" id="nouserorpass">
                <div class="subscribe-optin">                    
                        <div class="row">
                            <div class="large-6 columns">
                                <label><h4>No user or password.</h4></label>
                            </div>
                        </div>                       
                   
                    <a href="#" class="optin-close">&times;</a>
                </div>
            </div> 
            <div class="bg-overlay" id="userisblocked">
                <div class="subscribe-optin">                    
                        <div class="row">
                            <div class="large-6 columns">
                                <label><h4>User is blocked.</h4></label>
                            </div>
                        </div>                       
                   
                    <a href="#" class="optin-close">&times;</a>
                </div>
            </div> 
           <div class="bg-overlay" id="nouser">
                <div class="subscribe-optin">                    
                        <div class="row">
                            <div class="large-6 columns">
                                <label><h4>Username does not exist.</h4></label>
                            </div>
                        </div>                     
                   
                    <a href="#" class="optin-close">&times;</a>
                </div>
            </div> 
            <div class="bg-overlay" id="wrongpassword">
                <div class="subscribe-optin">                    
                        <div class="row">
                            <div class="large-6 columns">
                                <label><h4>Invalid password.</h4></label>
                            </div>
                        </div>                       
                   
                    <a href="#" class="optin-close">&times;</a>
                </div>
            </div> 
            <div class="bg-overlay" id="forgot-password">
                <div class="subscribe-optin">
                    <form action="/sent-recover" method="post" onsubmit="return submitEnabled;">
                        <div class="row">
                            <div class="large-6 large-offset-2 columns">
                                <label>Enter your email
                                    <input type="email" name="email" required/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="enableSubmit"></div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <input  id="forgotSubmit" class="border-button right blue" type="submit" value="Submit"/>
                            </div>
                        </div>
                    </form>
                    <a href="#" class="optin-close">&times;</a>
                </div>
            </div><!-- forget pwd popup -->
            </div>
        </div>

        <div class="features grid">

            <div class="feature col-4-12">
                <div>
                    <img src="img/icons/dice.png" alt=""/>
                </div>
                <h4>Working Randomly</h4>
                <!-- <p class="text">
                    
                    <a href="/guide">See strategy guide</a>
                </p> -->
            </div>
            <div class="feature col-4-12">
                <div>
                    <img src="img/icons/line-chart.png" alt=""/>
                </div>
                <h4>Graph Game</h4>
                <!-- <p class="text">
                    Watch your fortune rise<br > in real time!
                </p> -->
            </div>
            <div class="feature col-4-12">
                <div>
                    <img src="img/icons/locked2.png" alt=""/>
                </div>
                <h4>Fair Blockchain Hash</h4>
                <!-- <p class="text">
                    Offline storage<br>
                    <a href="faq#fair">Provably fair</a><br>
                    Razor thin <a href="faq#odds">house edge</a> (between 0 and 1%)
                </p> -->
            </div>
          

        </div>

        <div class="grid">
            <div class="col-1-1">
                <h5 class="faucet">The Most Trusted Graph Game: WoWgo</h5>
            </div>
        </div>

    </div>

#}}

{{#def.include('./template/main_new')}}


